<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.SqlMapper">

    <!--    List<User> getLikeUsername();-->
    <select id="getLikeUsername" resultType="com.mybatis.pojo.User">
<!--        select * from t_user where username like '%${username}%'-->
        select * from t_user where username like concat('%'#{username}'%')
        <!--select * from t_user where username like "%"#{username}"%"-->
    </select>

    <!--    int deleteMore(@Param("ids") int ids);-->
    <delete id="deleteMore">
        delete from t_user where id in (${ids})
    </delete>

    <!--    List<User> getUserByTableName(@Param("tableName") String tableName);-->
    <select id="getUserByTableName" resultType="com.mybatis.pojo.User">
        select * from ${tableName}
    </select>

    <insert id="id" useGeneratedKeys="true" keyProperty="id"></insert>
</mapper>